node_modules/
dist/
build/
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db
*.env
*.o
*.out
*.class
.vscode/
.idea/
/vendor/
*.gem
*.pyc
*.pyo
__pycache__/
*.map
*.DS_Store
Desktop.ini
*.bak
targets/*
!targets/targets.json
*.secret
data/*
